@import "../../../const/variables";

.header{
    display: flex;
    align-items: center;
    background-color: $headerBG;
    padding: 0;
    padding-right: 32px;
    &__logo{
        height: 96px;
        width: 96px;
    }
    & nav{
        margin-left: 32px;
    }
}